@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .magic {
    background-color: #fefcf7cd;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  .no-magic {
    background-color: transparent;
    backdrop-filter: none;
  }

  .sectionX {
    @apply px-6 md:px-10;
  }

  .gradient {
    background-color: rgba(51, 61, 75, 1);
    background-image: linear-gradient(
      127deg,
      rgba(51, 61, 75, 1) 21%,
      rgba(41, 86, 80, 1) 100%
    );
  }

  .text-gradient {
    background: -webkit-linear-gradient(#979797, transparent 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .sectionY {
    @apply py-15 md:py-18 lg:py-25;
  }

  .headerY {
    @apply pb-15 pt-4;
  }

  .section-inner-x {
    @apply px-6 md:px-14 lg:px-21;
  }
}

@layer components {
  .link {
    @apply relative py-1 md:px-[1px];
  }

  .link::after {
    content: "";
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;

    @apply absolute bottom-0 left-0 h-[2px]  w-full bg-DarkCyan;
  }

  .link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .active::after {
    transform: scaleX(1);
  }

  .active {
    @apply text-DarkGreyBlue;
  }

  .wrapper {
    @apply mx-auto my-0 w-full max-w-7xl;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-fraunces;
  }

  html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
  }

  body {
    @apply bg-LightCream;
  }
}
